/*********************** Global ***********************/
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-peach: #fe918d;
  --color-dark-peach: #ff6863;
  --color-pink: #d681a4;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-blue: #c0d8e9;
  --color-blue: #73aace;
  --color-dark-blue: #5386a8;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 22px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 10px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 10px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/*********************** Contents ***********************/
/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: var(--color-blue);
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

  /* 자바스크립트 반응 */
#navbar.navbar--dark {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 8px;
}

.navbar__logo img {
  width: 120px;
  padding-left: 20px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item.active {
  border-color: var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.navbar__toggle-btn {
  position: absolute;
  top:18px;
  right: 12px;
  font-size: var(--font-medium);
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url("../images/background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-blue);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 30px;
  padding: 8px 12px;
  border: 2px solid var(--color-blue);
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease-in;
}

.home__contact:hover {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: 40px auto;
}

/* About */
.section#about {
  padding: 0;
  padding-top: 1px;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px; /* icon size */
  margin: auto;
  margin-bottom: 16px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  color: var(--color-blue);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover {
  color: var(--color-pink);
  border-color: var(--color-pink);
}

.major__icon:hover i {
  transform: rotate(-25deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
  padding: 10px;
}

.study {
  display: flex;
  align-items: center;
}

.study__icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  color:var(--color-dark-blue);
}

.study__discription {
  margin: 0 16px;
  text-align: left;
}

.study__name {
  font-size: var(--font-micro);
  color: var(--color-grey);
}

.study__period {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}

/* Skills */
#skills {
  background-color: var(--color-light-blue);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
  font-weight: var(--weight-bold);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin: 36px 0;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skill__value.move {
  animation: skillbar 2s 1;
}

@keyframes skillbar {
  from {
    width: 0;
  }
  to {
  }
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* portfolio */
.portfolio__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 40px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 9px;
}

.category__count {
  display: inline-block;
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-pink);
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: var(--font-micro);
  position: absolute;
  top: -20px;
  right: 10px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

  /* 각 .category__btn 클릭 시, 해당되지 않는 project들이 서서히 사라지게 보이는 ani 효과 */
.portfolio__projects.ani-out {
  opacity: 0;
  transform: scale(0.97) translateY(20px);
}

.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  background:var(--color-light-white);
  position: relative;

  /* 내부 컨텐츠(img) 가운데정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;

  /* 내부 컨텐츠(text) 세로 가운데정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  /* 각 썸네일 hover 시 text 보이도록 */
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

.project__description p {
  color: var(--color-white);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speach-bubble {
  padding: 18px;
  background-color: white;
  border-radius: var(--size-border-radius);
}

.testimonial__speach-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speach-bubble a {
  color: var(--color-peach);
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
}

/* Contact */
#contact {
  background-color: var(--color-blue);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  margin: 24px 0;
}

.contact__links a + a {
  margin-left: 10px;
}
.contact__links a  {
  position: relative;
}

  /* github, notion 아이콘*/
.contact__links a i {
  font-size: var(--font-large);
  transition: all var(--animation-duration) ease-in;
}

.contact__links a i:hover {
  transform: scale(1.1);
  color: var(--color-pink);
}

  /* gitbub 말풍선*/
a.link_git i:after {
  content: 'GitHub';
  position: absolute;
  top: 0;
  left: -80px;
  background: var(--color-pink);
  font-size: var(--font-micro);
  width: 70px;
  height: 27px;
  line-height: 27px;
  border-radius: 50px 50px 0 50px;
  pointer-events: none;
  opacity: 0;
}

a.link_notion i:after { /* notion 말풍선*/
  content: 'Notion';
  position: absolute;
  top: 0;
  right: -80px;
  background: var(--color-pink);
  font-size: var(--font-micro);
  width: 70px;
  height: 27px;
  line-height: 27px;
  border-radius: 50px 50px 50px 0;
  pointer-events: none;
  opacity: 0;
}

.contact__links i:hover::after {
  opacity: 1;
  color: var(--color-white);
}

/* arrow button */
.arrow-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 0.8;
  pointer-events: auto;
}

/*********************** 반응형 ***********************/
/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
  /* Font size */
  --font-large: 30px;
  --font-medium: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;
  }

  /* navbar */
  .navbar__logo img {
    width: 70px;
    padding-left: 0px;
  }

  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu__item {
    padding-top: 12px;
    padding-bottom: 12px
  }

  .navbar__menu.open {
    display: block;
  }

  /* section */
  .section {
    padding: 16px;
    padding-top: 30px;
  }

  /* about */
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
  }

  .major {
    margin-bottom: 38px;
  }

  .about__study {
    display: flex;
    justify-content: space-evenly;
  }

  /* skill */
  .skillset {
    flex-direction: column;
  }

  /* portfolio */
  .category__btn {
    width: 100%;
    margin: 4px 0;
  }

  .category__count {
    right: 20%;
  }

  .project {
    flex-grow: 1;
  }

  /* testimonial */
  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 10px;
  }

  .testimonial__speach-bubble {
    order: 1;
  }

  /* contact */
  a.link_git i:after,
  a.link_notion i:after {
    width: 55px;
    height: 20px;
    line-height: 20px;
  }

  a.link_git i:after {
    left: -60px;
  }

  a.link_notion i:after {
    right: -60px;
  }
  
  /* etc */
  .arrow-up {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    right: 16px;
    bottom: 16px;
  }
}


@media screen and (max-width: 580px) {
  .about__majors {
    margin-bottom: 20px;
  }

  .about__study {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  #testimonials {
    padding: 50px 0;
  }
}