@charset "utf8";
/* #sc { font-size:100px; color:blue; position: fixed; left: 0; top: 0; z-index: 999999999; } */
* {margin:0; padding:0; list-style-type:none; box-sizing: border-box;}
body {font-family:'Crimson Text', serif; font-size:22px; font-weight:600;}
a {text-decoration:none; color:#000;}
input {border:none;}
.clear:after {content:''; display:block; clear:both;}

/* header */
header {position: fixed; top: 0; width: 100%; z-index:9999; transition: background 0.5s; background: transparent; border-bottom: 3px solid rgba(0,0,0,0.7);}
header:hover {background: rgba(185,173,159,0.7);}

.login_bar {width: 100%;}
.login_bar .menu_icon {float: left; margin-left: 20px;}
.menu_icon > li {float: left; width:48px; height:48px; /* border-radius: 50%; */ background: transparent; transition: background 0.5s;}
.menu_icon > li > a {display: block; position: relative;}
.menu_icon > li.search > a {width:48px; height:48px; background: transparent;}
.menu_icon > li > a img {position: absolute; top: 8px; left: 9px;}
.menu_icon > li > a img.white {opacity:0; transition:0.5s;}
.menu_icon > li:hover {background: #000;}
.menu_icon > li:hover > a img.white {opacity:1;}
.menu_icon .search {position: relative;}
.menu_icon .search img {cursor:pointer;}
.menu_icon .search .icon_search_cancel {display:none; position:absolute; left:160px;}
.menu_icon .search .search_bar {position:absolute; top:14px; left:20px; width:130px; height: 20px; background:transparent; border-bottom:1px solid #fff; display:none; color:#fff;}

.login_bar .login_menu {float: right; margin-right: 20px;}
.login_menu > li {float: left;}
.login_menu > li > a {display:block; padding: 15px 25px; text-align:center; font-weight:bold; font-size:0.75em; transition:0.5s;}
.login_menu > li:hover > a {background: #000; color: #fff;}

.logo {text-align:center; padding: 10px;}

.menu_wrap {width: 100%; /*overflow:hidden;*/ text-align:center; border-top: 3px solid rgba(0,0,0,0.7);}
.menu > li {float: left; width: 20%;}
.menu > li > a {display: block; width: 100%; height: 100%; padding: 15px; transition: 0.3s;}
.menu > li > a {font-weight:bold; color:#000; font-size: 1em;}
.menu > li:hover > a {background: rgba(0,0,0,0.9); color:#fff; letter-spacing: 1px;}
.sub_menu {display: none;}
.sub_menu > li > a {display: block; width: 100%; height: 100%; padding: 15px; font: 600 0.75em 'Brygada 1918', serif; color:#000; transition: 0.3s;}
.sub_menu > li:hover > a {background: rgba(102,89,74,0.7); letter-spacing: 1.2px; font-weight: 900;}


/* 반응형 toggle 버튼 */
.toggle_btn {position:absolute; top: 15px; right:20px; font-size:1.2em; border:none; background:transparent; display:none; cursor: pointer;}

/* footer 시작 */
footer {width:100%; min-width:100%; height:600px; background:#b9ad9f; overflow:hidden; font:500 14px 'Bai Jamjuree', sans-serif;}
footer h2 {font-size:1.6em; font-family: 'Brygada 1918', serif;}
footer h3 {margin-top:30px;}
footer p {margin-top:10px;}
.footer_logo {width:100%; height:125px; margin-top:100px; text-align:center;}
.footer_wrap {width:1280px; height:300px; margin:0 auto; padding:0 40px}
.info {float:left; width:280px; margin:20px 20px 0 0;}
.info span {color:#f00;}
.other {float:right; margin-top:20px;}
.other .other_links ul {margin-top:30px;}
.other .other_links li {margin-top:5px;}
.other .other_links li a {transition:0.5s;}
.other .other_links li a:hover {background:#fff; padding:0 7px;}
.other .other_button {clear:both; margin-top:30px;}
.other .other_button li {float:left; width:70px; height:70px; border-radius:35px; border:1px solid #000; text-align:center; line-height:70px; transition:0.5s;}
.other .other_button li:hover {background:#eee; border:1px solid #666}
.other .other_button li a {transition:0.5s;}
.other .other_button li:hover a {color:#333;}
.other .other_button li + li {margin-left:10px;}
address {width:1280px; margin:auto; font-size:0.8em; padding:0 40px;}

/* .top_scroll btn */
.top_scroll {display:none; width:40px; height:40px; background:rgba(0,0,0,0.7); color:#fff; text-align:center; border-radius:40px; position:fixed; line-height:40px; bottom:50px; right:50px; font-size:0.9em; cursor:pointer; transition:0.5s;}
.top_scroll:hover {background:rgba(255,255,255,0.7); color:#000; }


/*********************************** 반응형 ***********************************/
@media (max-width: 1297px) {
    .footer_wrap {width:100%;}
    .footer_wrap > div {width:calc((100% - (20px * 4)) / 3); margin: 0;}
    .other {display: none;}
}

@media (max-width: 1024px) {
    header {background: rgba(185,173,159,1); opacity: 1;}
    header:hover {background: rgba(185,173,159,1); opacity: 1;}
    .toggle_btn {display: block;}
    .login_bar, .sub_menu {display: none;}
    .logo {text-align: left; padding-bottom: 0; text-indent: 10px;}
    .menu_wrap {display: none;}
    .menu > li {width: 100%;}
}

